@charset "utf-8";
html,body{height:100%; background-color: #F0F0F0;}
body{padding:0px; margin:0px auto; font-size:16px; line-height:28px; color:#666666; width:100%; min-width:300px; zoom:1;font-family: "Microsoft YaHei","Arial","Microsoft YaHei","宋体",sans-serif;}
ul,li,form, dl,dt,dd,div,ul,li,p,em,i,address{ font-style:normal; list-style:none; padding: 0px; margin: 0px;}
h1,h2,h3,h4,h5,h6{ padding:0px; margin:0px;}
select,input,textarea,button{ font-size:14px; border-radius:0; -webkit-border-radius:0; color:#000; font-family:"Microsoft YaHei";}
input:focus { outline: none;}
input,button,select,textarea{ border:0px;outline:none;/*-webkit-appearance:none;*//*强制去除表单自带的样式*/}
button{ cursor:pointer;}
textarea{resize:none;/*-webkit-appearance:none;*//*强制去除textarea自带的样式*/ }
textarea,input,select { background:none; border:none; margin:0; padding:0;}
article,aside,footer,header,hgroup,nav,section,figure,fxigcaption,address{ display: block;} /*html5设置*/
figure,figcaption{ margin:0px; padding:0px;}
audio,canvas,progress,video { display: inline-block; vertical-align: baseline;}
img{ max-width:100%; border:none; border:0;  vertical-align:top;}
a{ color:#666666; text-decoration:none; noline:-webkit-tap-highlight-;color:rgba(0,0,0,0);transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
a:focus {outline:none; -moz-outline:none;}
a:hover{ text-decoration:none; color:#B50105;}
*:hover{transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
.fl{ float:left;}.fr{ float:right;}.tr{ text-align:right;}.tc{ text-align:center;}
.hidetxt{ display:none;}
.clear{ clear:both;}
.clearfix{overflow:hidden;_zoom:1;}
.clearfix:after{ content: ''; display: block; clear: both; height: 0; visibility: hidden;}
.clearfix{*zoom:1;}
:-moz-placeholder {color: #cccccc;}
::-moz-placeholder {color: #cccccc;}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: #cccccc;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: #cccccc;}
.relative{ position:relative;}
.bodyon{ overflow:hidden;}
.Contain{ z-index:1; position:relative; clear:both; max-width:1400px; padding:0 2%; margin:180px auto 0;}
.block{ display:block;}
.tit{ display:block;text-overflow:ellipsis; white-space:nowrap; *white-space:nowrap; overflow:hidden; width:100%; color:#383838;}
.tit a{color:#383838;}.tit a:hover{color:#B50105;}
.pid{display: none;height: 0;clear: both;}
.p{overflow: hidden;word-break:normal;text-align:justify; color:#808080;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;}
  .imgbox{ overflow:hidden; position:relative;}
  .imgbox span{ background-position:center center; background-repeat:no-repeat; background-size:cover; position:absolute; left:0px; top:0px; width:100%; height:100%;}

  ::-webkit-scrollbar{
    width: 3px;-webkit-overflow-scrolling : touch;
    background-color: #e6e6e6;}
    ::-webkit-scrollbar-track{
      background-color: #e6e6e6;}
      ::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #541308;}
        ::-webkit-scrollbar-button{
          height: 0px;
          background-color: #B0AEDA;}

          /*font*/
          .f_blue{ color:#1e5299;}

          .Scale-img {overflow: hidden;cursor: pointer; zoom:1; overflow: hidden;}
          .Scale-img img,.Scale-img span {opacity: 1;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;}
          .Scale-img:hover img,.Scale-img:hover span {opacity: 1;-webkit-transform: scale3d(1.1,1.1,1);transform: scale3d(1.1,1.1,1); top:0px; left:0px;}

          /*pages*/
          .Pages{ zoom:1; overflow:hidden;text-align:center; color:#555; clear:both; line-height:32px; font-size:14px;}
          .Pages span{ margin:0px 2px; display:inline-block; vertical-align:middle; padding:0 6px; min-width:40px;}
          .Pages a{ display:inline-block; margin:0px 2px; background:#e8e8e8;text-align:center; color:#333333;padding:0 6px;min-width:40px;}
          .Pages span.current{ background:#B50105; color:#fff; padding:0 6px; position: relative; top: -2px;}
          .Pages span.disabled{background:#e8e8e8; color:#333; padding:0 6px;}


          /*pages end*/


          /*Top*/
          .Header{ height:107px; position:fixed; width:100%; z-index:999; left:0px; top:0px; background:rgba(255,255,255,0.6);transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
          .Header .Contain{ max-width:none; margin:0 3%; padding:0 69px 0 0; position:relative;}
          .Header .Logo{float:left; padding-top:20px; width:21.5%;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
          .Header .Logo img{ height:auto;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
          .Header .Searchbox{position:absolute; top:43px; right:67px;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
          .Header .Searchbox .icon{cursor:pointer;}
          .Header .Search{ display:none; position:absolute; right:0px; top:66px; z-index:888;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
          .Header .Search a.close{ background: #131718 url(../images/closenav.png) center center no-repeat; width:27px; height:27px; vertical-align:middle; display:inline-block; position:absolute; right:0px; top:-66px;}
          .Header .Search .box{ position:relative; background:#fff; border-radius:5px; width:398px; height:46px; border:1px solid #d4d4d4;}
          .Header .Search .ipt{ vertical-align:top; width:80%; height:44px; line-height:44px; text-indent:1em;}
          .Header .Search .searchbtn{ cursor:pointer; width:22px; height:22px; background:url(../images/searchbtn.png) center center no-repeat; background-size:cover; position:absolute; right:16px; top:12px;}

          .MainNav{ float:left; width:78.5%; text-align:center;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
          .MainNav li{ display:inline-block;*display:inline; zoom:1;position:relative; margin:0 2%;}
          .MainNav li:nth-child(1){ margin-left:0;}
          .MainNav li span a{ position:relative;display:block; color:#515151; text-align:center; font-size:18px; height:107px; line-height:107px;}
          .MainNav li:hover span a,.MainNav li.onnav span a,.MainNav li span a.sele{ color:#B50105;}
        .MainNav .line{ position:absolute; left:50%; bottom:0px; height:2px; background:#B50105; width:0%; z-index:0;/*transition:all 0.5s linear; -webkit-transition:all 0.5s linear;*/}
        .MainNav li:hover span .line,.MainNav li.onnav span .line,.MainNav li span a.sele .line{ width:100%; left:0px;}

        .NavPull{ border-radius:0 0 10px 10px; width:150px; top:107px; left:-40px; position:absolute; z-index:100; display:none; background:rgba(148,107,107,0.8); text-align:center;}
        .NavPull dd a{ color:#fff; display:block; padding:6px 0px; border-bottom:1px solid #8a5951; border-top:1px solid #a2776f;font-size:16px;}
        .NavPull dd a:hover{ color:#fff; background:#B50105;}
        .NavPull dd:last-child a{ border-radius:0 0 10px 10px;}
        .NavPull.null{background:none; padding:0; box-shadow: 0 0px 0px none;}

        .MainNav.mobilenav{ padding:0%; position:fixed; z-index:999; width:100%; height:100%; overflow-y:auto; background:rgba(255,255,255,0.9); right:0px; top:0px;transition:all 0s linear; -webkit-transition:all 0s linear; display:none;}
        .MainNav.mobilenav ul{ width:80%; margin:50px auto 0;}
        .MainNav.mobilenav li{ vertical-align:top; width:14%; margin:0;}
        .MainNav.mobilenav .arr{ display:none; position:absolute; z-index:2; width:100%; height:46px; left:0px; top:0px;}
        .MainNav.mobilenav .arr i{ position:absolute; width:17px; height:10px; background:url(../images/arr.png); right:10px; top:18px;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
        .MainNav.mobilenav li.onnav .arr i{dis-moz-transform: translate(0, -3px) rotate(-180deg) !important;
         -ms-transform: translate(0, -3px) rotate(-180deg) !important;
         -o-transform: translate(0, -3px) rotate(-180deg) !important;
         transform: translate(0, -3px) rotate(-180deg) !important;}
         .MainNav.mobilenav .NavPull { width:100%; position:static; background:none; text-align:center; display:block; margin-bottom:-1px;}
         .MainNav.mobilenav .NavPull dd a{ border:0; display:block;padding:5px 0px 5px 0px; color:#333; font-size:14px; border-bottom:1px solid #ddd;}
         .MainNav.mobilenav .NavPull dd a:hover{ color:#fff;}
         .MainNav.mobilenav .NavPull dd:last-child a{ border-radius:0;}
         .MainNav.mobilenav li:first-child{ display:none;}

         .mstbg{ position:fixed; left:0px; top:0px; width:100%; height:100%; background:rgba(0,0,0,0.4); z-index:886; display:none;}
         .openbtn{ position:absolute; right:0; top:40px; cursor:pointer;width:30px; z-index:999;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
         .closebtn.auto{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:887; display:none;}
         .openbtn span{ display:block; height:3px; background:#131718; margin-bottom:9px;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
         .openbtn.on .sp1{
           -webkit-transform: translate(0, 6px) rotate(45deg) !important;
           -moz-transform: translate(0, 6px) rotate(45deg) !important;
           -ms-transform: translate(0, 6px) rotate(45deg) !important;
           -o-transform: translate(0, 6px) rotate(45deg) !important;
           transform: translate(0, 6px) rotate(45deg) !important;}
           .openbtn.on .sp2{
             -webkit-transform: translate(0, -5px) rotate(-45deg) !important;
             -moz-transform: translate(0, -5px) rotate(-45deg) !important;
             -ms-transform: translate(0, -5px) rotate(-45deg) !important;
             -o-transform: translate(0, -5px) rotate(-45deg) !important;
             transform: translate(0, -5px) rotate(-45deg) !important;}	
             .openbtn.on .sp3{ display:none;}	

             .Header.fixedhead{height:70px; box-shadow:0 0 10px #ddd; background:rgba(255,255,255,0.9);}
             .Header.fixedhead .Logo{padding-top:7px; width:13%;}
             .Header.fixedhead .Logo img{width:auto; height:auto; transition:all 0.2s linear; -webkit-transition:all 0.2s linear; margin-top: 7px;}
             .Header.fixedhead .MainNav{width:87%;}
             .Header.fixedhead .MainNav.mobilenav{width:100%;}
             .Header.fixedhead .MainNav li span a{height:70px; line-height:70px;}
             .Header.fixedhead .Searchbox{top:23px;}
             .Header.fixedhead .openbtn{top:20px;}
             .Header.fixedhead .NavPull{top:70px;}

             /*Top*/

             /*Bottom*/
             .footer{ padding:0 3%;background: url(../images/61.png) top center no-repeat;  background-size: 100% auto; border: none;  height: 180px;}
             .footer .col-left{ float:left; padding:72px 0 3px;}
             .footer .col-left .nav{ color:#a9a9a9; font-size:14px;}
             .footer .col-left .nav i{ display:inline-block; vertical-align:middle; text-align:center; width:18px;}
             .footer .col-left .nav a{ color:#a9a9a9;}.footer .col-left .nav a:hover{ color:#fff;}
             .footer .col-left .copyright{ font-size:12px; padding-top:14px; color:#7e7e7e;}
             .footer .col-left .copyright a{color:#7e7e7e;}.footer .col-left .copyright a:hover{color:#fff;}
             .footer .wem-right{ float:right; text-align:center; color:#7e7e7e;}
             .footer .wem-right li{ float:left; padding:65px 0 3px 33px; font-size:12px;}
             .footer .wem-right li img{ display:block; margin:0px auto; width:74px; height:74px; border:4px solid #fff;}

             .share{ display:inline-block; *display:inline;zoom:1; vertical-align:middle;}
             .share .bshare-custom{display:inline-block; *display:inline;zoom:1; vertical-align:middle; margin-top:-4px;}
             .share .bshare-custom a{ width:30px; height:30px; background:url(../images/share.png); padding:0; margin-right:10px;}
             .share .bshare-custom a:last-child{margin-right:0px;}
             .share .bshare-custom .bshare-sinaminiblog{ background-position:0px top;}
             .share .bshare-custom .bshare-weixin{ background-position:-30px top;}
             .share .bshare-custom .bshare-qqim{ background-position:-60px top;}

             .cd-top {overflow: hidden;visibility: hidden;opacity: 0;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; height:0px; background:url(../images/top.gif) center center; width:40px; position:fixed; bottom:20%; right:0px; z-index:999;}
             .cd-top.cd-is-visible {visibility: visible;opacity: 1;height:40px; cursor:pointer;}



             /*Bottom*/


             /*首页 s*/
             .HomeBan {overflow:hidden; clear:both; position:relative;}
             .HomeBan .slides li{background-position:center center; background-repeat:no-repeat; background-size:cover; position:relative;}
             .HomeBan .slides li .txt{ position:absolute; width:60%; text-align:center; left:5%; top:20%;transform:translateY(-300px);-webkit-transform:translateY(-300px);opacity:0;transition:all 1s;}
             .HomeBan .slides li .txt img{ width:auto; margin:0px auto;}
             .HomeBan .slides li.flex-active-slide .txt{transform:translateY(0);-webkit-transform:translateY(0);opacity:1;}
             .HomeBan .flex-control-nav{bottom:27px; z-index:10;}
             .HomeBan .flex-control-nav li a{ border-radius:50%; background:#fff; opacity:1; width:11px; height:11px;}
             .HomeBan .flex-control-nav li a.flex-active{opacity:1; width:30px; border-radius:4px;}
             .HomeBan .flex-direction-nav a {width: 38px; height: 76px; }
             .HomeBan .flex-direction-nav .flex-prev { left:-60px; background: url(../images/prev.png) center center no-repeat;}
             .HomeBan .flex-direction-nav .flex-next { right:-60px; background: url(../images/next.png) center center no-repeat;}
             .HomeBan:hover .flex-direction-nav .flex-prev { left:4%;}
             .HomeBan:hover .flex-direction-nav .flex-next { right:4%;}
             
             .msg{width:300px; background:rgba(255,255,255,0.7); color: #fff; border-radius: 15px; position: fixed; right: 60px;top: 140px;z-index: 999;padding:5px 20px 5px 15px;animation: fade-in;animation-duration: 2s; -webkit-animation:fade-in 2s;}
             .msg>span.close{position: absolute;right: -10px;top: -10px;z-index: 1000; cursor: pointer;}
             .msg>a{display: block; clear: both;margin: 5px 0; font-size:14px;border-bottom: 1px #9f9f9f dashed;}
             .msg>a:last-of-type{ border-bottom: none;}
             .msg>a>span{display: inline-block; width: 210px; margin-left: 10px;}
             .msg>a>img{display: inline-block;}

             @keyframes fade-in {  
              0% {opacity: 0;}/*初始状态 透明度为0*/  
              40% {opacity: 0;}/*过渡状态 透明度为0*/  
              100% {opacity: 1;}/*结束状态 透明度为1*/  
            }  
            @-webkit-keyframes fade-in {/*针对webkit内核*/  
              0% {opacity: 0;}  
              40% {opacity: 0;}  
              100% {opacity: 1;}  
            }  
            .ArtBan {overflow:hidden; clear:both; position:relative; width:100%; }
            .ArtBan .slides li{ height: 500px;background-position:center center; background-repeat:no-repeat; background-size:cover; position:relative;}
            .ArtBan .slides li .txt{ position:absolute; width:60%; text-align:center; left:5%; top:30%;transform:translateY(-300px);-webkit-transform:translateY(-300px);opacity:0;transition:all 1s;}
            .ArtBan .slides li .txt img{ width:auto; margin:0px auto;}
            .ArtBan .flex-control-nav{bottom:10px; z-index:10;}
            .ArtBan .flex-control-nav li a{ border-radius:50%; background:#ffffff; opacity:1; width:11px; height:11px;}
            .ArtBan .flex-control-nav li a.flex-active{opacity:1; width:30px; border-radius:4px;}
            .ArtBan .flex-direction-nav a {width: 38px; height: 76px; }
            .ArtBan .flex-direction-nav .flex-prev { left:-60px; background: url(../images/zuo.png) center center no-repeat;}
            .ArtBan .flex-direction-nav .flex-next { right:-60px; background: url(../images/you.png) center center no-repeat;}
            .ArtBan:hover .flex-direction-nav .flex-prev { left:4%;}
            .ArtBan:hover .flex-direction-nav .flex-next { right:4%;}
            .you{float: left;}
            .you .nr{
              margin-top: 20px;
            }


            .sec-2 .content{ position:absolute; width:1200px; left:50%; top:20%; margin-left:-600px; text-align:center;}
            .sec-2 .tithead{ margin-bottom:12%;transform:translateY(-200px);-webkit-transform:translateY(-200px);opacity:0;transition:all 1s;}
            .sec-2 li{ width:25%; float:left;transform:translateY(-200px);-webkit-transform:translateY(-200px);opacity:0;}
            .sec-2 li .nav{ width:181px; height:181px; margin:0px auto; background:url(../images/sec2_navbg1.png); background-size:contain;}
            .sec-2 li .nav a{ display:block; padding-top:58px; height:128px; color:#4f0f07;}
            .sec-2 li .nav i{ display:block; margin:0px auto; width:51px; height:52px;}
            .sec-2 li.li1 {transition:all 1s 0.3s;}
            .sec-2 li.li1 .nav i{ background:url(../images/21.png); background-size:contain;}
            .sec-2 li.li2 {transition:all 1s 0.5s;}
            .sec-2 li.li2 .nav i{ background:url(../images/22.png); background-size:contain;}
            .sec-2 li.li3 {transition:all 1s 0.7s;}
            .sec-2 li.li3 .nav i{ background:url(../images/23.png); background-size:contain;}
            .sec-2 li.li4 {transition:all 1s 0.9s;}
            .sec-2 li.li4 .nav i{ background:url(../images/24.png); background-size:contain;}
            .sec-2 li:hover .nav{ background:url(../images/sec2_navbg01.png); background-size:contain;}
            .sec-2 li:hover a{ color:#fff;}
            .sec-2 li.li1:hover .nav i{background:url(../images/21a.png); background-size:contain;}
            .sec-2 li.li2:hover .nav i{background:url(../images/22a.png); background-size:contain;}
            .sec-2 li.li3:hover .nav i{background:url(../images/23a.png); background-size:contain;}
            .sec-2 li.li4:hover .nav i{background:url(../images/24a.png); background-size:contain;}
            .sec-2.active .tithead{transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;} 
            .sec-2.active li{transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;} 

            .sec-3 .content{ max-width:1200px; margin:0px auto; padding-top:12%;}
            .sec-3 .tithead{ position:relative; z-index:5; text-align:center;transform:translateY(-200px);-webkit-transform:translateY(-200px);opacity:0;transition:all 1s;}
            .sec-3 #sec3_content{ background:rgba(0,0,0,0.66); z-index:4; height:100%; color:#fff; margin-top:8%;transform:translateY(200px);-webkit-transform:translateY(200px);opacity:0;transition:all 1s 0.3s;height:227px;}
            .sec-3 #sec3_content .slides{height:227px;}
            .sec-3 .tits { padding-top:52px; font-size:30px; line-height:63px;}
            .sec-3 .tits a:hover{color:#4f0f06;}
            .sec-3 .p { height:44px;-webkit-line-clamp: 2; font-size:14px; color:#fff; line-height:22px;}
            .sec-3 a { color:#fff;}
            .sec-3 a.vr { font-size:16px; color:#4f0f07; line-height:30px; display:inline-block; vertical-align:middle; padding-left:33px; width:47px; background:url(../images/vrbg.png); margin-left:17px;}
            .sec-3 .box {padding:0 291px 0 50px; position:relative;}
            .sec-3 .imgbox{width:100%; left:0px; bottom:0px; height:100%; background-position:center center; background-size:cover; background-repeat:no-repeat; position:absolute; display:none;}
            .sec-3 .imgbox.on{ z-index:2;}
            .sec-3 .more{ position:absolute; right:13px; top:52px; padding-top:42px; height:83px; border-left:1px solid rgba(255,255,255,0.2); width:208px;}
            .sec-3 .more a{ display:block; margin:0px auto; color:#fff; font-size:14px; border:1px solid #fff; text-align:center; width:128px; line-height:38px;}
            .sec-3 .more a:hover{ background:#fff; color:#4f0f06;}
            .sec-3 #sec_bg .flex-direction-nav a {width: 80px; margin-top:20px; height: 80px; opacity:0.6;}
            .sec-3 #sec_bg .flex-direction-nav .flex-prev { left:30px; background:url(../images/secarr1.png); background-size:contain;}
            .sec-3 #sec_bg .flex-direction-nav .flex-next { right:30px; background: url(../images/secarr01.png); background-size:contain;}
            .sec-3 #sec_bg .flex-direction-nav .flex-prev:hover { opacity:1;}
            .sec-3 #sec_bg .flex-direction-nav .flex-next:hover { opacity:1;}

            .sec-3 #sec_bg{ position:absolute; left:0px; top:0px; width:100%; height:100%;}
            .sec-3 #sec_bg li{background-position:center center; background-size:cover; background-repeat:no-repeat;}
            .sec-3 #sec_bg .flex-control-nav{bottom:20%; z-index:10;}
            .sec-3 #sec_bg .flex-control-nav li a{ border-radius:50%; background:#fff; opacity:1; width:11px; height:11px;}
            .sec-3 #sec_bg .flex-control-nav li a.flex-active{opacity:1; background:#673534;}

            .sec-3.active .tithead{transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;} 
            .sec-3.active #sec3_content  {transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;}


            .sec-4 .tithead{ width:20%; position:absolute; bottom:0px; left:2%; height:80%; text-align:center;transform:translateY(-200px);-webkit-transform:translateY(-200px);opacity:0;transition:all 1s;}
            .sec-4 ul{ position:absolute; top:9%; right:0px; height:91%; width:78%;}
            .sec-4 ul li{ width:16.6667%; float:left; text-align:center; height:100%; position:relative;}
            .sec-4 ul li .imgbox{ height:100%;}
            .sec-4 ul li .imgbox .bg{transition:all 0.2s linear; -webkit-transition:all 0.2s linear; position:absolute; left:0px; bottom:0px; width:100%; height:100%; background:rgba(0,0,0,0.4); z-index:2;}
            /*.sec-4 ul li .imgbox span{ background-size:auto;}*/
            .sec-4 ul li p{width:24px; position:absolute; top:29%; left:47.5%; height:70%; z-index:10; color:#fff; font-size:24px;}
            .sec-4 ul li p i{ width:1px; height:70px; display:block; margin:7px auto; background:rgba(255,255,255,0.7);}
            .sec-4 ul li p em{writing-mode:tb-rl; display:block; line-height:19px; margin:0 -27px -10px 0;}
            .sec-4 ul li:hover .imgbox .bg{background:rgba(0,0,0,0.2);}
            .sec-4 ul li .info{ display:none; position:absolute; left:10%; bottom:20%; width:80%; z-index:11; text-align:left; color:#fff;}
            .sec-4 ul li .info h2{ margin-bottom:8px; font-size:18px; font-weight:normal;}
            .sec-4 ul li .info .more{ width:76px; font-size:14px; line-height:30px; text-align:center; border:1px solid #fff; margin-top:15px;}

            .sec-4 ul li.li1{opacity:0;transition:opacity 1s 0.3s;}
            .sec-4 ul li.li2{opacity:0;transition:opacity 1s 0.5s;}
            .sec-4 ul li.li3{opacity:0;transition:opacity 1s 0.7s;}
            .sec-4 ul li.li4{opacity:0;transition:opacity 1s 0.9s;}
            .sec-4 ul li.li5{opacity:0;transition:opacity 1s 1.1s;}
            .sec-4 ul li.li6{opacity:0;transition:opacity 1s 1.3s;}
            .sec-4 ul li.li7{opacity:0;transition:opacity 1s 1.5s;}
            .sec-4.active .tithead{transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;} 
            .sec-4.active ul li{opacity:1;} 
            .sec-4 ul li.on{ width:55% !important;} 



            .sec-5 .content{ padding:8% 5% 0 6%; width: 52%; display: inline-block; float: left;}
            .sec-5 .content:last-child{width:31%;padding:8% 6% 0 0 ;}
            .sec-5 .tithead{ width:100%; transform:translateY(-200px);-webkit-transform:translateY(-200px);opacity:0;transition:all 1s;}
            .sec-5 .HomeNews{ margin:4% 0 2% -3%;}
            .sec-5 .HomeNews li{ float:left; position:relative; width:46%; padding:0 0 4.5% 3%;}
            .sec-5 .HomeNews li .date{ position:absolute; text-align:center; width:80px; padding-top:10px; height:46px; font-family:Arial, Helvetica, sans-serif; background:rgba(255,255,255,0.8); z-index:10;}
            .sec-5 .HomeNews li .date em{ display:inline-block; text-align:left; font-size:14px; color:#414141; line-height:20px;}
            .sec-5 .HomeNews li .date em i{ display:block; font-size:18px;}
            .sec-5 .HomeNews li .imgbox{ padding-top:70%;}
            .sec-5 .HomeNews li .tit{ margin-top:6px; line-height:47px; font-size:18px;}
            .sec-5 .HomeNews li .p{-webkit-line-clamp: 2; height:40px; margin-bottom:34px; line-height:20px;}
            .sec-5 .HomeNews li .more{ font-size:14px; width:132px; line-height:35px; border:1px solid #c1c1c1; color:#808080; text-align:center;}
            .sec-5 .HomeNews li .more i{ display:inline-block; width:30px; height:7px; background:url(../images/more.png) right center no-repeat; margin-left:14px;}
            .sec-5 .HomeNews li:hover .more{ background:#4f0f07; border:1px solid #4f0f07; color:#fff;}
            .sec-5 .HomeNews li:hover .more i{background:url(../images/more2.png) right center no-repeat;}
            .sec-5 .HomeNews li:hover .tit{ color:#4f0f07;}
            .sec-5 .HomeNews li.li1{opacity:0;transition:opacity 1s 0.3s;}
            .sec-5 .HomeNews li.li2{opacity:0;transition:opacity 1s 0.5s;}
            .sec-5 .HomeNews li.li3{opacity:0;transition:opacity 1s 0.7s;}
            .sec-5 .HomeNews li.li4{opacity:0;transition:opacity 1s 0.9s;}
            .sec-5.active .tithead{transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;} 
            .sec-5.active .HomeNews li{opacity:1;} 
            .sec-5 .Homegg{ margin:5% 0 2% -3%;}
            .sec-5 .Homegg li{ float:left; position:relative; width:100%; padding:0 0 1.5% 3%;height: 90px;}
            .sec-5 .Homegg li .date{ text-align:center; width:80px; padding-top:12px; height:46px; font-family:Arial, Helvetica, sans-serif;  z-index:10; display: inline-block;float: left;}
            .sec-5 .Homegg li .date em{ display:inline-block; text-align:left; font-size:14px; color:#414141; line-height:20px;}
            .sec-5 .Homegg li .date em i{ display:block; font-size:18px;}
            .sec-5 .Homegg li .box{
             display: inline-block; float: left; width: 75%;
           }
           .sec-5 .Homegg li:hover{ background:#4f0f07; color:#fff;}
           .sec-5 .Homegg li:hover .tit{ color:#fff;}
           .sec-5 .Homegg li:hover .date em{ color:#fff;}

           .sec-5 .Homegg li .box .tit{ height:80px; font-size:18px; display: -webkit-box;  overflow: hidden;  -webkit-line-clamp: 2; -webkit-box-orient: vertical;white-space:normal;}
           .sec-5 .Homegg li .box .p{-webkit-line-clamp: 1; height:40px;  line-height:40px;}
           .sec-5 .more2{ line-height: 35px;border: 1px solid #c1c1c1;color: #808080;text-align: center; cursor: pointer;}
           .sec-5 .more2 i{ display:inline-block; width:30px; height:7px; background:url(../images/more.png) right center no-repeat; margin-left:14px;}
           .sec-5 .more2:hover{ background:#4f0f07; border:1px solid #4f0f07; color:#fff;}
           .sec-5 .more2:hover i{background:url(../images/more2.png) right center no-repeat;}



           .sec-6 .content{ position: absolute; width: 1200px; left: 50%; top: 12%; margin-left: -600px; text-align: center;}
           .sec-6 .content .tithead{ text-align:center; right:0px; width:100%; transform:translateY(-200px);-webkit-transform:translateY(-200px);opacity:0;transition:all 1s;}
           .sec-6 .content ul{ width:100%; position:absolute; left:0px; height:81%; top: 150%;}
           .sec-6 .content li{ width:25%; float:left; position: relative;}
           .sec-6 .content li.li1{opacity:0;transition:opacity 1s 0.3s;}
           .sec-6 .content li.li2{opacity:0;transition:opacity 1s 0.5s;}
           .sec-6 .content li.li3{opacity:0;transition:opacity 1s 0.7s;}
           .sec-6 .content li.li4{opacity:0;transition:opacity 1s 0.9s;}
           .sec-6 .content li.li5{opacity:0;transition:opacity 1s 1.1s;}
           .sec-6 .content li.li6{opacity:0;transition:opacity 1s 1.3s;}
           .sec-6 .content li.li7{opacity:0;transition:opacity 1s 1.5s;}
           .sec-6 .content li.li8{opacity:0;transition:opacity 1s 1.7s;}
           .sec-6 .content .box{  margin-right:8%; padding:24px 0 12px 0;}
           .sec-6 .content .tits{ line-height:32px;  margin-left:-1px; font-size:16px; color:#fff; width: 92%; position: absolute;z-index: 99;font-weight: normal;text-align: center;margin: 0 auto; background: rgba(49,49,49,.6); bottom: 12px;}
           .sec-6 .content .tits span{ float:right; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:18px; color:rgba(79,15,7,0.05);}
           .sec-6 .content .imgbox{ padding-top:60%; margin-left:-1px;}
           .sec-6.active .tithead{transform:translate(0,0);-webkit-transform:translate(0,0);opacity:1;} 
           .sec-6.active .content li{opacity:1;} 
           .sec-6 .more3{ line-height: 35px;border: 1px solid #000;color: #000;text-align: center;}


           .bottomfixed{ position:absolute; bottom:0px; left:0px; z-index:998; width:100%;}

           /*首页 end*/


           /*栏目页公用样式 s*/
           .SubBan{margin:0px auto 40px; background-position:center center;position: relative;}
           .SubBan img{ display:block;}
           .ColumnName{ background: #B50105 url(../images/leftlogo.png) right bottom no-repeat; border-bottom:4px solid #cf4b4e; line-height:106px; font-size:24px; padding-left:30px; color:#fff; margin-bottom:8px;}
           .LeftBar{ width:230px; position:absolute; z-index:999; left:2%;top:0px;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
           .LeftBar.Fixleft{ position:fixed; top:80px;}
           .RightCon{ margin-left:280px;}

           .Position{ border-bottom:1px solid #ebebeb; line-height:50px; height:50px; margin-bottom:50px;}
           .Position h2{ float:left; color:#B50105; font-size:24px;}
           .Position a{ color:#808080;}
           .Position .place{ float:right; color:#808080; background:url(../images/place.gif) 0px center no-repeat; padding-left:37px; font-size:15px;}
           .Position .place a:hover,.Position .place span{ color:#B50105;}
           .Banbg{background-color: #000; width: 100%; height: 570px; position: absolute; left: 0; top:0; background:url(../images/ban3.jpg) center no-repeat; opacity: 1 }
/*.MenuList{ background:#fff;}
.MenuList li{ position:relative;line-height:50px; background:#f0f0f0; font-size:16px;}
.MenuList li a{ display:block;}
.MenuList li a em{ position:relative; z-index:1; padding-left:60px;display:block;}
.MenuList li .bg{ position:absolute; z-index:0; width:100%; top:50%; height:0%; left:0%; background:#B50105;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
.MenuList li a:hover,.MenuList li.onli a{ color:#fff;}
.MenuList li a:hover .bg,.MenuList li.onli .bg{ height:100%; top:0px;}
.MenuList li a:hover em,.MenuList li.onli a em{background:url(../images/menuarr.png) 30px center no-repeat;}*/

.SubPage{ height:auto !important; min-height:600px; height:600px; padding-bottom:50px;}

.SinglePage{ word-wrap:break-word;word-break:normal;padding-bottom: 50px;}
.SinglePage h4{ font-size: 28px;font-weight: 700;line-height: 38px;color: #191919;width: 100%; text-align: center; padding: 30px 0; border-bottom: 1px #F0F0F0 solid;}
.SinglePage>.nav{clear: both; margin: 15px 0 30px ; text-align: center; display: block; width: 100%; color: #999;}
.SinglePage>.nav>span{display: inline-block; color: #999;margin: 0 10px;}
.SinglePage>.nav>.ly{position: relative;top: -3px;}
.SinglePage>.fx{position: absolute;right: 95px;bottom:70px;text-align: right;}
.topBar{ width:100%; z-index:999; transition:all 0.2s linear; -webkit-transition:all 0.2s linear; margin-bottom: 100px;}
.MenuList{margin: 0 auto;text-align: center;}
.MenuList li{ position:relative;line-height:42px; background:#f0f0f0; font-size:16px; padding: 0 20px; display: inline-block; margin: 0 10px;}
.MenuList li a{ display:block;}
.MenuList li a em{ position:relative; z-index:1; padding-left:20px;display:block;}
.MenuList li .bg{ position:absolute; z-index:0; width:100%; top:50%; height:0%; left:0%; background:#B50105;transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
.MenuList li a:hover,.MenuList li.onli a{ color:#fff;}
.MenuList li a:hover .bg,.MenuList li.onli .bg{ height:100%; top:0px;}
.MenuList li a:hover em,.MenuList li.onli a em{background:url(../images/menuarr.png) 0 center no-repeat;}

.ColumnName2{  font-size:24px;  color:#fff; position: absolute; top: 180px;left: 50%;margin-left: -150px; width: 300px; display: block; text-align: center;}
.Con{
  padding: 60px;
  background-color: #fff;
  height:auto !important; min-height:550px; height:550px;
}
.Con .sanji{overflow: hidden;margin-bottom: 30px; border-bottom:1px #ececec solid; line-height: 42px;}
.Con .sanji>a{
	float: left;padding:0 40px;display: inline-block;
}
.Con .sanji>a:hover{color: #666;background-color: #F0F0F0;}
.Con .sanji>a.active{color: #666;background-color: #F0F0F0;}

.Con img{margin:10px;}
.subc>span{margin: 20px 0;display: block;clear: both;}
.sublist{margin: 30px 0;overflow:hidden; display: block;clear: both;}
.sublist>a{ display: inline-block;width: 30%; height: 120px;float: left; background-color: #EEEEEE; margin: 10px; }
.sublist>a>p{width:100%;height: 70px;border-left: 4px #C30007 solid;margin-top: 25px;display: flex; align-items: center;}
.sublist>a>p>img{width: 60px; height: 60px;}
.sublist>a>p>span{margin-right: 10px;}
.sublist>a:hover{ background-color: #ccc;  }

/*栏目页公用样式 end*/



/*关于我们 s*/
.Culturetxt{ background:#f0f0f0;}
.Culturetxt .img{ width:34%; float:left;}
.Culturetxt .info{ width:62%; padding-right:3%; float:right;}
.Culturetxt .info .txt{ height:300px; display:table-cell; vertical-align:middle; width:2%;}
.Culturetit{ text-align:center; padding:53px 0 25px;}
.Culturetit h3{ font-weight:normal; color:#333333; line-height:52px; font-size:32px;}
.Culturetxt2 { margin:0 0 0 -2%;}
.Culturetxt2 li{ width:23%; float:left; margin:0 0 2% 2%;}


/*新闻中心 s*/
.NewsList{ margin:0 0 2% -3%;}
.NewsList .first{ margin:0 0 4.5% 3%;}
.NewsList .first .imgbox{ width:50%; float:left; height:360px;}
.NewsList .first .info{ width:45%; float:right; padding-right:1%;}
.NewsList .first .tit{ padding-top:19px; line-height:54px; font-size:20px;}
.NewsList .first .date{ color:#797979; font-size:16px; padding-bottom:44px;}
.NewsList .first .p{ font-size:14px; line-height:24px; color:#808080;-webkit-line-clamp: 3; height:72px; margin-bottom:63px;}
.NewsList .first .more{ text-align:center; font-size:14px; border-radius:17px; border:2px solid #e6e6e6; width:116px; line-height:32px; color:#999999;}
.NewsList .first .more i{ display:inline-block; margin-left:9px; width:8px; height:10px; background:url(../images/more3.png);}
.NewsList .first:hover .more{border:2px solid #B50105; background:#B50105; color:#fff;}
.NewsList .first:hover .more i{background:url(../images/more03.png);}

.NewsList .li{ float:left; position:relative; width:30.333%; padding:0 0 4.5% 3%; font-size:14px;}
.NewsList .li .date{ position:absolute; text-align:center; width:80px; padding-top:10px; height:46px; font-family:Arial, Helvetica, sans-serif; background:rgba(255,255,255,0.8); z-index:10;}
.NewsList .li .date em{ display:inline-block; text-align:left; font-size:12px; color:#414141; line-height:20px;}
.NewsList .li .date em i{ display:block; font-size:16px;}
.NewsList .li .imgbox{ padding-top:70%;}
.NewsList .li .tit{ margin-top:6px;  font-size:18px; height: 52px;}
.NewsList .li .p{-webkit-line-clamp: 2; height:40px; margin-bottom:34px; line-height:20px;}
.NewsList .li .more{ width:132px; line-height:35px; border:1px solid #c1c1c1; color:#808080; text-align:center;}
.NewsList .li .more i{ display:inline-block; width:30px; height:7px; background:url(../images/more.png) right center no-repeat; margin-left:14px;}
.NewsList .li:hover .more{ background:#B50105; border:1px solid #B50105; color:#fff;}
.NewsList .li:hover .more i{background:url(../images/more2.png) right center no-repeat;}
.NewsList .li:hover .tit{ color:#B50105;}
.NewsList2{ margin:0 0 2% 0;}
.NewsList2 .li{ float:left; position:relative; width:100%; margin:0 0 4.5%; font-size:14px; }
.NewsList2 .li .tit{ margin-top:6px; line-height:32px; font-size:18px;white-space:normal;}
.NewsList2 .li .p{margin-top: 20px;}
.NewsList2 .li a{display: flex;}
.NewsList2 .li .imgbox{ width: 500px;height:300px;float: left;flex-shrink: 0;}
.NewsList2 .li .txtbox{ height:260px;float: left; display: inline-block; background-color: #EEEEEE;  flex:1;padding: 20px; }

.NewsList3 .li{ float:left; position:relative; width:100%; padding:1% 0; font-size:14px;border-bottom: 1px #ccc dashed; margin-bottom: 20px; }
.NewsList3 .li .tit{  line-height:32px; font-size:18px;white-space:normal;position: relative; ;width: 90%; overflow:visible ; }
.NewsList3 .li .tit .time{font-size:14px;color: #808080;margin-left: 30px;position: absolute;top: 2px; right: -11.1111%;}
.NewsList3 .li .p{margin-top:10px;}

.Titleinfo{ color:#888888; line-height:30px; padding:0px 0px 24px 0px; margin-bottom:40px; text-align:center; border-bottom:1px solid #e5e5e5;}
.Titleinfo .tits{ line-height:25px; font-size:28px; font-weight:normal; color:#333333; padding-bottom:18px;}
.Titleinfo .date i{ margin:0px 10px; display:inline-block;}

.PrevNextBox {margin:50px 0 0 0;position:relative; color:#888888;}
.PrevNextBox dl{ width:47%; padding-left:2%; line-height:50px; height:50px; text-align:center; overflow:hidden; background:#f7f7f7;}
.PrevNextBox dl span{color:#000000;}
.PrevNextBox dl a{ display:block;text-overflow:ellipsis; white-space:nowrap; *white-space:nowrap; overflow:hidden; width:100%;}
.PrevNextBox dl:hover{background:#541308; color:#fff;}
.PrevNextBox dl:hover span{ color:#fff;}
.PrevNextBox dl:hover a{ color:#fff;}
.PrevNextBox dl a.none{ background:#fff; color:#999;}

/*视频集锦 s*/
.VideoList{ margin:0 0 0 -3%;}
.VideoList li{ width:30.333333%; float:left; padding:0 0 4.5% 3%;}
.VideoList li .imgbox{ padding-top:70%;}
.VideoList li .imgbox .play{ background:rgba(0,0,0,0.4); position:absolute; width:100%; left:0px; top:0px; height:100%; z-index:2;}
.VideoList li .imgbox .play i{ position:absolute; width:60px; height:60px; left:50%; top:50%; margin:-30px 0 0 -30px; background:url(../images/play.png); background-size:contain;}
.VideoList li .info{ border:1px solid #f0f0f0; border-top:0; padding:7px 20px 26px;}
.VideoList li .tit{ line-height:63px; font-size:18px;}
.VideoList li .tit i{ display:block; width:40px; height:2px; background:#B50105;}
.VideoList li:hover .tit{color:#B50105;}

.videopop{ box-shadow:0 0 18px #666; display:none; position:fixed; left:0px; top:1%; padding:3%; background:#fff; left:1%; width:92%;z-index:10000; height:85%;}
.videopop video{ height:100%; background:#000;}
.videopop a.close{ position:absolute; right:10px; top:10px; background: #666 url(../images/closenav.png) center center no-repeat; width:35px; height:35px; z-index:88;}



/*联系我们 s*/
.Company{ color:#333333; font-size:24px;}
.Contactus{ color:#4c4c4c; line-height:30px; padding:19px 0 36px;}
.Contactus p{ padding-left:30px; display:inline-block; *display:inline; zoom:1;}
.Contactus p.tel{ background:url(../images/tel.gif) 0px center no-repeat;}
.Contactus p.add{ background:url(../images/add.gif) 0px center no-repeat; margin-left:73px;}
#dituContent img{ max-width:none;}


@media ( max-width:1660px) {
  .sec-3 #sec_bg .flex-direction-nav a {margin-top:-50px;}
  .sec-3 #sec_bg .flex-direction-nav .flex-prev { left:150px;}
  .sec-3 #sec_bg .flex-direction-nav .flex-next { right:150px;}
  .sec-6 .content{
    width: 1000px;
    top: 12%;
    margin-left: -500px;
  }
  .footer{height: 150px;}
  .footer .col-left .copyright{padding-top: 0;}
  .footer .wem-right li{padding-top:50px;}
  .footer .col-left{ float:left; padding:50px 0 3px;}
  .footer .wem-right li{ float:left; padding:50px 0 3px 33px; font-size:12px;}
  .footer .wem-right li img{ display:block; margin:0px auto; width:60px; height:60px; border:4px solid #fff;}


}
@media ( max-width:1366px){
  .sec-6 .content ul{ width: 80%; left: 10%;top:100%;}
  .sec-6 .content .tits{ line-height:30px; font-size:16px;}
  .sec-6 .content .tits span{font-size:14px;}
  .sec-6 .content .imgbox{ padding-top:55%;}
  .sec-4 .tithead{width: 15%;left: 5%;}
}
@media ( max-width:1360px){
  .HomeBan .slides li .txt{width: 50%;}
  .sec-3 #sec_bg .flex-direction-nav a {width: 40px; height: 40px;}
  .sec-3 #sec_bg .flex-direction-nav .flex-prev { left:-50px;}
  .sec-3 #sec_bg .flex-direction-nav .flex-next { right:-50px;}
  .MainNav li{ margin: 0 1.5%;}
}

@media ( max-width:1200px){
  .sec-3 #sec_bg .flex-direction-nav a {opacity:1;}
  .sec-3 #sec_bg .flex-direction-nav .flex-prev { left:0px;}
  .sec-3 #sec_bg .flex-direction-nav .flex-next { right:0px;}
}


@media ( max-width:1100px){
  .Header .Logo{padding-top:35px;}
  .MainNav li{margin:0 0.8%;}
  .Header.fixedhead .Logo{padding-top:16px;}
}


@media ( max-width:1024px){
  .sec-5 .content{ padding-top:10%;}
  .sec-5 .HomeNews{ margin-top:7%;}
  .sec-5 .HomeNews li{ width:47%;}
  .sec-5 .HomeNews li .p{margin-bottom:10px;height:20px; font-size:12px;-webkit-line-clamp: 1;}
  .sec-5 .HomeNews li .more{width:100px; line-height:27px;}
  .sec-5 .HomeNews li .more i{width:20px;margin-left:5px;}
  .sec-5 .HomeNews li .imgbox{ padding-top:60%;}
  .sec-5 .HomeNews li .date{width:50px; padding-top:5px; height:41px;}
  .sec-5 .HomeNews li .date em i{font-size:14px;}
}

@media ( max-width:998px){
  body{ font-size:14px; line-height:24px;}    
  .Header .Logo{ padding-top:3px; width:auto;}
  .Header .Logo img{ height:35px;}
  .SubPage{ padding-bottom:25px;} 
  .LeftBar.Fixleft{ position:static;}
  .LeftBar{ width:auto; position:static;}
  .RightCon{ margin:15px 0 0 0px;}
  .Position{line-height:40px; height:40px; margin-bottom:25px;}
  .Position .place{ font-size:12px;}
  .Position h2{ display:none;}
  .ColumnName{ display:none;}
  .MenuList li{line-height:30px; width:31%; float:left; font-size:14px; background:none;}
  .MenuList li a{border:1px solid #f0f0f0;display:block;margin:-1px 0 0 -1px;}
  .MenuList li a em{padding-left:0px; text-align:center; height:40px; font-size:14px; display:table-cell; width:2%; line-height:15px; vertical-align:middle;}
  .MenuList li a:hover em,.MenuList li.onli a em{ background:none;}

  .sec-2 .content{width:90%; left:5%; top:14%; margin-left:0px;}
  .sec-2 .tithead{ width:60%; margin:0px auto 12%;}
  .sec-2 li .nav{ width:150px; height:150px;}
  .sec-2 li .nav a{padding-top:30px; height:101px;}
  .sec-3 .tithead{ width:40%; margin:0px auto;}
  .sec-5 .content{ padding-top:25%;}
  .sec-5 .HomeNews li .tit{line-height:30px; font-size:15px;}

  .lybody .MenuList li{ width:50%;}
  .Contain{ padding:0 15px;}
  .Header{height:50px;}
  .Header .Contain{ padding:0;}

  .openbtn.on .sp1{
    -webkit-transform: translate(0, 3px) rotate(45deg) !important;
    -moz-transform: translate(0, 3px) rotate(45deg) !important;
    -ms-transform: translate(0, 3px) rotate(45deg) !important;
    -o-transform: translate(0, 3px) rotate(45deg) !important;
    transform: translate(0, 3px) rotate(45deg) !important;}
    .openbtn{right:0; top:15px;}
    .openbtn span,.closebtn span{ margin-bottom:5px;}
    .Header .Searchbox { padding:16px 18px 0 0; position:static; float:right;}
    .Header .Searchbox .icon{ padding:0px 34px 0 16px; width:18px;}
    .Header .Search a.close{right:48px; top:-37px;}
    .Header .Search{width:100%; top:50px; right:0%;}
    .Header .Search .box{ width:auto; height:40px;}
    .Header .Search .ipt{ vertical-align:top; width:80%; height:44px; line-height:44px; text-indent:1em;}

    .pcnav{ display:none;}
    .MainNav.mobilenav{width:200px; height:100%; overflow-y:auto; background:rgba(255,255,255,0.9); right:0px; }
    .MainNav.mobilenav ul{ width:auto;}
    .MainNav.mobilenav li{ display:block; width:auto;}
    .MainNav.mobilenav li span a{height:46px; line-height:46px; text-align:left; padding-left:20px; border-bottom:1px solid #ddd;}
    .MainNav.mobilenav .arr{ display:block;}
    .MainNav.mobilenav .NavPull { display:none;}
    .MainNav.mobilenav li:first-child{ display:block;}

    .Header.fixedhead{height:50px;}
    .Header.fixedhead .Logo{padding-top:7px; width:auto;}
    .Header.fixedhead .Searchbox{padding-top:16px;}
    .Header.fixedhead .MainNav{width:200px;}
    .Header.fixedhead .MainNav li span a{height:46px; line-height:46px;}
    .Header.fixedhead .MainNav.mobilenav{width:200px;}
    .Header.fixedhead .Search{top:50px;}
    .Header.fixedhead .openbtn{top:18px;}

    .footer .col-left{ float:none;padding:12px 0; text-align:center; line-height:20px;}
    .footer .wem-right{ display:none; float:none; text-align:center;}
    .footer .wem-right li{ display:inline-block; *display:inline; zoom:1;float:none; padding:10px 5px 10px 5px;}
    .footer .col-left .copyright{padding-top:5px; line-height:16px;}
    .SinglePage video{
      width: 100%;
      height: 100%;
    }
    .SinglePage img{
      width: 100%;
      height: auto;
    }
  }
  @media ( max-width:768px){
    .Pages{ line-height:25px;}
    .Pages .p_page .a_prev,.Pages .p_page .a_next,.Pages .p_page .a_first,.Pages .p_page .a_end{padding:0 4px;}
    .Pages .p_page .num a{ width:25px;}
    .Pages .total{ margin-top:5px;}
  }


  @media ( max-width:640px){

    .HomeBan .slides li .txt{width:90%;}
    .Header.fixedhead .Logo img{width:auto; height:35px; transition:all 0.2s linear; -webkit-transition:all 0.2s linear;}
    .Header.fixedhead .Logo{padding-top: 0;}
    .Culturetxt .img{ width:auto; float:none; text-align:center;}
    .Culturetxt .info{ width:auto; padding:10px; float:none;}
    .Culturetxt .info .txt{ height:auto; width:auto; display:block;}
    .Culturetxt2 li{ width:48%;}
    .Culturetit{padding:20px 0 20px;}
    .Culturetit h3{line-height:40px; font-size:22px;}

    .NewsList .first .imgbox{ width:auto; float:none; height:auto; padding-top:50%;}
    .NewsList .first .info{ width:auto; float:none; padding-right:0;}
    .NewsList .first .tit{ padding-top:5px; line-height:32px; font-size:15px;}
    .NewsList .first .date{font-size:14px; padding-bottom:10px;}
    .NewsList .first .p{ font-size:14px; line-height:20px;-webkit-line-clamp: 2; height:40px; margin-bottom:14px;}
    .NewsList .li{width:47%;}
    .NewsList .li .p{ margin-bottom:14px;}
    .NewsList .li .more{ width:100px; line-height:32px;}
    .NewsList .li .more i{margin-left:8px; width:20px;}
    .NewsList .li .tit{ line-height:30px; font-size:15px;}
    .NewsList .li .date{width:50px; padding-top:5px; height:41px;}
    .NewsList .li .date em i{font-size:14px;}

    .Titleinfo { line-height:20px; font-size:12px; padding-bottom:15px; margin-bottom:20px;}
    .Titleinfo .tits{ font-size:20px;}
    .PrevNextBox {margin:35px 0 0 0;}
    .PrevNextBox dl{ width:auto; line-height:40px; height:40px;font-size:14px; text-align:left;}
    .PrevNextBox dl div{width:90%; margin:0px auto;}
    .PrevNextBox dl.fl{ float:none;}.PrevNextBox dl.fr{ float:none;}
    .sec-3 .content{ padding-top:25%;}
    .sec-3 #sec3_content {height:330px;}
    .sec-3 #sec3_content .slides{height:330px;}
    .sec-3 .box { padding:0 50px 0 50px;}
    .sec-3 .tits { padding-top:30px; font-size:24px;}
    .sec-3 .p { height:88px;-webkit-line-clamp: 4;}
    .sec-3 .more{ position:static; border-left:0; width:auto;}
    .sec-4 ul{top:6%; height:94%;}
    .sec-4 ul li{ width:33.3333% !important; height:50%;transition:all 0s linear; -webkit-transition:all 0s linear;}
    .sec-4 ul li.on{ width:33.3333% !important;} 
    .sec-4 ul li p{ top:20%; font-size:16px;}
    .sec-4 ul li p i{height:20px;}
    .sec-4 .tithead{ width:15%; left:3%;}
    .sec-4 ul li .info{ display:none !important;}
    .sec-4 ul li p{ display:block !important;}
    .sec-6 .content .tithead{position:static; width:69%; padding-top:9%;}
    .sec-6 .content ul{ width:auto; height:70%; top:25%;left:5%;}
    .sec-6 .content .tits{font-size:14px; height: 26px;line-height: 26px; overflow:hidden;}
    .sec-6 .content .tits span{font-size:14px;}
    .sec-6 .content .box{padding:8px 0 8px 0;}
    .sec-6 .content .imgbox{ padding-top:61%;}
    .sec-5 .content{display: flex; flex-direction: column;width: 100%;}
    .sec-5 .HomeNews li {
      width: 42%;
    }
    .sec-5 .content:last-child{
      width: 100%;padding:5% 5% 0 6%;
    }
    .sec-5 .Homegg li .box .tit{
      line-height: 30px;
      font-size: 14px;
      height: 30px;
    }
    .sec-5 .Homegg li{
      height: 50px;
    }
    .sec-5 .Homegg li .box .p{
      height: 20px;
      line-height: 20px;
    }
    .sec-5 .Homegg li .date{
      padding-top: 0;
      width: 60px;
      text-align: left;
    }
    .sec-5 .content .tithead img{width: auto; height: 45px;}
    .sec-5 .Homegg li{ width: 85%;}
    .sec-5 .HomeNews{width: 100%;}
    .sec-6 .content{width:100%;left:0;margin-left:auto;position:relative;}
    .sec-6 .content .tithead{width:100%;padding-top: 0%;}
    .sec-6 .content .tithead img{width: auto; height:45px;}
    .sec-6 .content ul{width:100%;top:0; position: relative;overflow: hidden; margin-top: 10px;}
    .sec-6 .content li{ width: 47%;}
    .fp-scroller{
      height: 100%;
    }
    .footer{ background-size:100% 100%; height: 80px; padding:0; background-color: #fff;}
    .footer .col-left .copyright{
      display: none;
    }
    .footer .col-left{
      padding-top: 15px;
    }
    .VideoList li{ width:47%;}
    .VideoList li .tit{ line-height:35px; font-size:15px;}
    .VideoList li .info{padding:7px 10px 7px;}
    .VideoList li .imgbox .play i{width:20px; height:20px;margin:-15px 0 0 -15px;}
    .videopop{ background:#fff; left:8%; width:82%; height:68%; z-index:1000;}
    .videopop video{ height:400px;}

    .Company{ font-size:18px;}
    .Contactus p.add{ margin-left:0px; display:block;}
    #dituContent { height:300px !important;}
    .Message li{ line-height:40px; width:auto;float:none; padding-bottom:15px;}
    .Message li .input{height:38px; line-height:38px;}
    .Message li.auto{padding-bottom:20px;}
    .Message li.btn{ text-align:center;}
    .Message li dl{padding-left:46px;}
    .Contain {
      margin: 80px auto 0;
      padding:0;
    }
    .topBar{margin-bottom: 20px;}
    .Con{padding:10px;}
    .NewsList .li .p{display: none;}
    .MenuList li a{margin: 0}
    .NewsList3 .li .tit{width:80%;}
    .NewsList3 .li .tit .time{    right: -25%;}
    .NewsList2 .li .imgbox{width:100%;}
    .NewsList2 .li a {
      flex-direction: column;
    }
    .NewsList2 .li .txtbox{height: auto;}
    .NewsList3 .li .tit{width: 100%}
    .NewsList3 .li .tit .time{right:auto; position: relative;margin-left:auto;top:auto;}
    .sublist>a,.body-box{
      width:100%;
    }
  }

  @media ( max-width:568px){
    .sec-2 .tithead{ width:75%; margin-bottom:5%;}
    .sec-2 li{ width:auto; float:none;}
    .sec-2 li .nav{ width:120px; height:120px;}
    .sec-2 li .nav i{ width:30px; height:30px;}
    .sec-2 li .nav a{padding-top:30px; height:101px;}
  }

  @media ( max-width:480px){
    .cd-top {bottom:0%;}
  }

  .Con  .qrcode img{margin:0;}